# Maven output directory
/target/

# Compiled class file
*.class

# Log file
*.log




# ----- Portman -----

# Portman output directory
/portman/output/

# Portman environment files
/portman/.env*

# Portman temporary files
/tmp/
